<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Главная страница</title>
    {% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="parent">
        <div>
          {% block sidebar %}
          <ul class="sidebar-nav">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'products' %}">Услуги</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
            <li><a href="{% url 'create_tovar' %}">Добавить товар</a></li>
            <li><a href="{% url 'login'%}">Авторизация</a></li>
            <li><a href="{% url 'signup'%}">Регистрация</a></li>
          </ul>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти</button>
          </form>
          {% endblock %}
      </div>
      <div>{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>